<h1>Custom 404 page not found pages</h1>

<pre><code>{file_get_contents(\sphido\content('/examples/error/404.md'))}</code></pre>
<pre><code>{file_get_contents(\sphido\content('/404.md'))}</code></pre>

{include '../footer.latte', example => 'error'}