<h1>Custom 404 page not found pages</h1>

<pre><code>{file_get_contents(\vestibulum\src('/examples/error/404.md'))}</code></pre>
<pre><code>{file_get_contents(\vestibulum\src('/404.md'))}</code></pre>

{include '../footer.latte', example => 'error'}