### System defaults
.DS_Store
.DS_Store?
._*
*~
*.MD5
*.mwb.bak


tests/output
tmp/*
cache/*

### Composer
composer.phar
vendor/*
!vendor/others
/composer.lock

### IDE settings
/.idea

### not ignore
!.gitignore
!.htaccess
!web.config

### Ignore
public/*.zip
log