<h1>Ajax Contact Form</h1>

<h2>HTML source <code>email.php</code></h2>

<pre style="max-height: 600px"><code>{file_get_contents(\vestibulum\src('/examples/email/email.html'))}</code></pre>

<h2>AJAX sender <code>send.php</code></h2>
<pre><code>{file_get_contents(\vestibulum\src('/examples/email/send.php'))}</code></pre>

{include '../footer.latte', example => 'email'}