<!--
title: How to redirect from Vestibulum to another URL
-->

<h2>URL Redirect example code</h2>

<p>If you need redirect Vestibulum URL to any URL just create simple PHP file:</p>

<pre><code>{file_get_contents(\vestibulum\src('/examples/redirect/redirect.php'))}</code></pre>

<p>
	Follow URL will be redirect to omdesign.cz:
	<a href="{url '/examples/redirect/redirect'}">{url '/examples/redirect/redirect'}</a>
</p>

{include '../footer.latte', example => 'redirect'}