<h1>Download File Example</h1>

<pre><code>{file_get_contents(\vestibulum\content('/examples/download/download.php'))}</code></pre>

<pre><code>{file_get_contents(\vestibulum\content('/examples/download/example.txt'))}</code></pre>

{include '../footer.latte', example => 'download'}
