{default $example = null}

<hr/>

<p>
	<a href="{url '/examples'}" class="btn btn-default">❮ Back to examples</a>

	<a href="https://github.com/OzzyCzech/vestibulum/tree/master/public/src/examples/{$example}" target="_blank" class="btn btn-success">
		See source on GitHub
	</a>
</p>

