<h2>Download File Example</h2>

<pre><code>{file_get_contents(\vestibulum\src('/examples/download/download.php'))}</code></pre>

<pre><code>{file_get_contents(\vestibulum\src('/examples/download/example.txt'))}</code></pre>
