<h2>Ajax Contact Form</h2>

<pre><code>{file_get_contents(\vestibulum\src('/examples/email/index.html'))}</code></pre>
<pre><code>{file_get_contents(\vestibulum\src('/examples/email/send.php'))}</code></pre>
