<h2>Latte</h2>
<pre><code>{file_get_contents(\vestibulum\src('/examples/latte/index.latte'))}</code></pre>

<p>
	<a href="https://github.com/OzzyCzech/vestibulum/tree/master/public/src/examples/email">See source code</a>
</p>

