<h2>Latte</h2>
<pre><code>{file_get_contents(\vestibulum\src('/examples/redirect/redirect.php'))}</code></pre>

<p>
	<a href="https://github.com/OzzyCzech/vestibulum/tree/master/public/src/examples/redirect" class="btn btn-success">
		See source code
	</a>
</p>

